DOC_DB_HOST=docdb-us-west-2-****.cluster-************.us-west-2.docdb.amazonaws.com
DOC_DB_USERNAME=doc_db_username
DOC_DB_PASSWORD=doc_db_password

DOC_DB_SSH_HOST=ssh_host
DOC_DB_SSH_USERNAME=ssh_username
DOC_DB_SSH_PASSWORD=ssh_password

# DEFAULTS (alter only if necessary)
# DOC_DB_PORT=27017
# DOC_DB_DATABASE=metadata_index
# DOC_DB_COLLECTION=data_assets
# DOC_DB_SSH_PORT=22

HCR_681417_2023-10-30_08-41-45