name: Tag and publish main
on:
  push:
    branches:
      - main

jobs:
  tag:
    name: Tag
    uses: AllenNeuralDynamics/.github/.github/workflows/release-tag.yml@main
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  publish:
    runs-on: ubuntu-latest
    name: Publish package
    needs: tag
    steps:
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip install --upgrade setuptools wheel twine build
        python -m build
        twine check dist/*
    - name: Publish on PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true
        password: ${{ secrets.AIND_PYPI_TOKEN }}
